:root {
	--button-radius: 6px;
	--color-link: #CC497A;
	--color-primary: #842f4f;
	--color-primary-dark: #68253F;
	--font-size-ss: 16px;
	--font-size-ms: 16px;
	--font-ss: "Open Sans", Arial, sans-serif;
	--font-ms: "DejaVu Sans Mono", monospace;
	--max-width: 900px;
}

* {
	margin: 0;
	padding: 0;
}

html {
	scrollbar-color: #f0f0f0 var(--color-primary-dark);
}

html,
body {
	height: 100%;
}

body {
	background-color: #313046;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	font-family: var(--font-ss);
	font-size: var(--font-size-ss);
	tab-size: 4;
}

a {
	color: var(--color-link);
}

a:hover {
	text-decoration: none;
}

a:visited {
	color: lightgray;
}

h1 {
	font-size: 54px;
	font-weight: bold;
	text-shadow: 0 2px 0 var(--color-link);
}

iframe {
	border: 0;
}

input,
textarea,
div.code {
	background-color: rgba(0, 0, 0, 0.3);
	border: 0;
	box-sizing: border-box;
	color: #f0f0f0;
	font-family: var(--font-ms);
	font-size: var(--font-size-ms);
	outline: none;
	padding: 4px;
}

a#github {
	background-image: url("../img/GitHub-Mark-Light-32px.png");
	background-position: 8px center;
	background-repeat: no-repeat;
	background-size: 16px;
	display: inline-block;
	margin-left: 10px;
	padding-left: 30px !important;
	text-decoration: none;
}

a#github,
button {
	background-color: var(--color-primary);
	border: 0;
	border-radius: var(--button-radius);
	color: #f0f0f0;
	font-family: var(--font-ms);
	font-size: 14px;
	padding: 6px 18px;
	text-align: center;
}

a#github:hover,
button:hover {
	background-color: var(--color-primary-dark);
	cursor: pointer;
}

button[disabled] {
	background-color: #a0a0a0;
	box-shadow: none;
	color: #505050;
	cursor: default;
	opacity: 0.7;
}

button.active {
	background-color: var(--color-link);
}

select {
	background-color: var(--color-primary);
	border: 0;
	border-radius: var(--button-radius);
	color: #f0f0f0;
	font-family: var(--font-ms);
	font-size: 14px;
	max-width: 300px;
	padding: 2px 3px;
}

table {
	border-spacing: 0;
}

	td,
	th {
		text-align: left;
		vertical-align: top;
	}


.window {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 9px;
	box-sizing: border-box;
	color: #ffffff;
	min-width: 350px;
	overflow: hidden;
	position: fixed;
	z-index: 1;
}

	.window header {
		align-items: center;
		background-color: rgba(0, 0, 0, 0.2);
		cursor: move;
		display: flex;
		font-size: 14px;
		font-weight: 600;
		padding: 5px 10px;
		user-select: none;
	}

		.window header .toggle {
			border-radius: 50%;
			cursor: default;
			display: inline-block;
			flex-grow: 0;
			flex-shrink: 0;
			margin-right: 5px;
			min-width: 20px;
			text-align: center;
		}

		.window header .toggle:hover  {
			background-color: var(--color-primary);
		}

		.window header .toggle:before {
			content: "▾";
		}

		.window.window-closed header .toggle:before {
			content: "▸";
		}

	.window .content {
		padding: 10px;
	}

	.window.window-closed .content {
		display: none;
	}

#main-header {}

	#main-header button {
		min-width: 60px;
	}


.meta-container {
	display: none;
	max-width: 400px;
	z-index: 2;
}

	.meta-container .content {
		font-family: var(--font-ms);
		font-size: 14px;
		max-height: 600px;
		overflow: auto;
	}

	.meta-container td,
	.meta-container th {
		font-weight: normal;
		line-height: 20px;
		padding-bottom: 5px;
		vertical-align: top;
		white-space: pre-wrap;
		word-break: break-all;
	}

	.meta-container th.name {
		color: #c0c0c0;
		white-space: pre;
	}

	.meta-container tr:last-of-type td,
	.meta-container tr:last-of-type th {
		padding-bottom: 0;
	}

	.meta-container .hr td {
		border-top: 1px solid rgba(255, 255, 255, 0.1);
	}


main {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	margin: 0 auto;
	width: 100%;
}

	main .viewer {
		background-color: rgba(0, 0, 0, 0.2);
		display: flex;
		flex-grow: 1;
		justify-content: center;
	}

		.viewer .note-dragdrop {
			color: #f0f0f0;
			font-size: 32px;
			height: fit-content;
			position: relative;
			text-align: center;
			text-transform: uppercase;
			top: 40%;
			user-select: none;
		}
