.view {
	width: 100%;
}

	.view .note {
		color: #c0c0c0;
		font-family: var(--font-ms);
		font-size: 24px;
		max-width: var(--max-width);
		text-align: center;
	}


.view-base,
.view-audio,
.view-csv,
.view-eml,
.view-image,
.view-pdf,
.view-text,
.view-video,
.view-zip {
	display: flex;
	justify-content: center;
}


.view-base {
	align-items: center;
}


.view-audio {
	align-items: center;
}

	.view-audio audio {
		flex-grow: 0;
		flex-shrink: 0;
		max-width: 100%;
		width: var(--max-width);
	}


.view-csv {}

	.view-csv table {
		background-color: #303030;
		color: #f0f0f0;
		font-family: var(--font-ms);
		max-width: var(--max-width);
		padding: 10px 20px;
		white-space: pre-wrap;
		width: 100%;
	}

		.view-csv td {
			border-bottom: 1px solid #505050;
			padding: 4px 10px;
		}

		.view-csv th {
			border-bottom: 1px solid #505050;
			padding: 4px 10px;
		}

			.view-csv table span:hover {
				background-color: #474747;
			}


.view-eml {
	align-items: center;
	flex-direction: column;
}

	.view-eml iframe {
		flex-shrink: 0;
		height: 80vh;
		max-width: var(--max-width);
		width: 100%;
	}

	.view-eml .headers {
		background-color: #303030;
		color: #f0f0f0;
		height: 20vh;
		max-width: var(--max-width);
		overflow: auto;
		width: 100%;
	}

		.view-eml .headers table {
			font-family: var(--font-ms);
			font-size: var(--font-size-ms);
			width: 100%;
		}

			.view-eml tr:nth-child( 2n + 1 ) {
				background-color: rgba( 255, 255, 255, 0.05 );
			}

			.view-eml .headers td,
			.view-eml .headers th {
				line-height: 23px;
				word-break: break-word;
			}

			.view-eml .header-name {
				padding: 10px 10px 10px 20px;
				width: 30%;
			}

			.view-eml .header-value {
				padding: 10px 20px 10px 10px;
			}


.view-image {
	align-items: center;
	overflow: auto;
}

	.view-image img {
		background: repeating-conic-gradient(
			rgba(0, 0, 0, 0.1) 0% 25%,
			rgba(255, 255, 255, 0.1) 0% 50%
		);
		background-size: 20px 20px;
		flex-grow: 0;
		flex-shrink: 0;
	}


.view-pdf {}

	.view-pdf iframe {
		height: 100vh;
		max-width: var(--max-width);
		width: 100%;
	}


.view-text {}

	.view-text textarea {
		resize: none;
		max-width: var(--max-width);
		width: 100%;
	}

	.view-text div.code {
		height: 100vh;
		line-height: 23px;
		max-width: var(--max-width);
		overflow: auto;
		padding: 20px;
		white-space: pre-wrap;
		width: 100%;
	}


.view-video {
	align-items: center;
}

	.view-video video {
		background: repeating-conic-gradient(
			rgba(0, 0, 0, 0.1) 0% 25%,
			rgba(255, 255, 255, 0.1) 0% 50%
		);
		background-size: 20px 20px;
		flex-grow: 0;
		flex-shrink: 0;
		max-height: 100%;
		max-width: 100%;
		min-width: 300px;
	}


.view-zip {
	align-items: center;
}

	.view-zip ol.zip {
		background-color: #303030;
		box-sizing: border-box;
		color: #f0f0f0;
		font-family: var(--font-ms);
		height: 100vh;
		list-style: none;
		max-width: var(--max-width);
		overflow: auto;
		padding: 20px;
		white-space: nowrap;
		width: 100%;
	}
