@use 'vars';
@use 'sass:color';
@use 'sass:math';


.btn {
	background-color: vars.$color-primary;
	background-image: linear-gradient(#ffffff10, transparent);
	border: 0;
	border-radius: vars.$button-radius;
	color: #f0f0f0;
	font-family: vars.$font-ms;
	font-size: 14px;
	line-height: 17px;
	padding: 6px 18px;
	text-align: center;
	user-select: none;

	&:hover {
		background-color: color.scale( vars.$color-primary, $lightness: -20% );
		cursor: pointer;
	}

	&[disabled] {
		background-color: #a0a0a0;
		box-shadow: none;
		color: #505050;
		cursor: default;
		opacity: 0.7;
	}

	&.active {
		background-color: vars.$color-link;
	}
}


.button-group {
	align-items: center;
	display: flex;
	justify-content: center;

	.btn {
		border-left: 1px solid #00000030;
		border-right: 1px solid #00000030;
		border-radius: 0;

		&:first-child {
			border-left: 0;
			border-bottom-left-radius: vars.$button-radius;
			border-top-left-radius: vars.$button-radius;
		}

		&:last-child {
			border-right: 0;
			border-bottom-right-radius: vars.$button-radius;
			border-top-right-radius: vars.$button-radius;
		}

		&.selected {
			background-image: linear-gradient(#00000020, transparent);
		}
	}
}


$window-radius: 9px;

.window {
	background-color: vars.$color-window;
	border-radius: $window-radius;
	box-sizing: border-box;
	box-shadow: inset 0 0 1px #ffffff3f;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	min-height: 78px;
	min-width: 350px;
	position: absolute;
	z-index: 1;

	$handle-size: 8px;

	.resize-handles {
		height: 100%;
		left: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 10;

		.handle {
			pointer-events: all;
			position: absolute;
		}

		.handle-top {
			cursor: n-resize;
			height: $handle-size;
			left: 0;
			top: math.div( -$handle-size, 2 );
			width: 100%;
		}

		.handle-right {
			cursor: e-resize;
			height: 100%;
			right: math.div( -$handle-size, 2 );
			top: 0;
			width: $handle-size;
		}

		.handle-bottom {
			cursor: s-resize;
			bottom: math.div( -$handle-size, 2 );
			height: $handle-size;
			left: 0;
			width: 100%;
		}

		.handle-left {
			cursor: w-resize;
			height: 100%;
			left: math.div( -$handle-size, 2 );
			top: 0;
			width: $handle-size;
		}
	}

	header {
		align-items: center;
		background-color: rgba(0, 0, 0, 0.2);
		border-top-left-radius: $window-radius;
		border-top-right-radius: $window-radius;
		cursor: move;
		display: flex;
		font-size: 14px;
		font-weight: 600;
		max-width: calc( 100% - 20px );
		padding: 5px 10px;
		user-select: none;

		.icon {
			border-radius: 50%;
			cursor: default;
			display: inline-block;
			flex-grow: 0;
			flex-shrink: 0;
			min-width: 20px;
			text-align: center;
		}

		.toggle {
			margin-right: 5px;

			&:hover  {
				background-color: vars.$color-primary;
			}

			&:before {
				content: "▾";
			}
		}

		.title {
			color: #d0d0d0;
			flex-grow: 1;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.close {
			display: none;

			&:hover  {
				background-color: vars.$color-primary;
			}

			&:before {
				content: "×";
			}
		}
	}

	&.closable {
		header .close {
			display: inline-block;
		}
	}

	.content {
		box-sizing: border-box;
		height: 100%;
		overflow: auto;
		padding: 10px;
	}

	&.window-collapsed {
		height: auto !important;

		header {
			border-bottom-left-radius: $window-radius;
			border-bottom-right-radius: $window-radius;

			.toggle:before {
				content: "▸";
			}
		}

		.content {
			display: none;
		}
	}
}