span.icon {
	-moz-font-feature-settings: 'liga';
	-moz-osx-font-smoothing: grayscale;
	direction: ltr;
	display: inline-block;
	flex-grow: 0;
	flex-shrink: 0;
	font-family: 'Material Symbols Sharp';
	font-feature-settings: 'liga';
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 1;
	text-transform: none;
	user-select: none;
	white-space: nowrap;
	word-wrap: normal;
}
