@use 'vars';
@use 'sass:color';


* {
	margin: 0;
	padding: 0;
}

html {
	overflow: hidden;
	scrollbar-color: #f0f0f0 transparent;
}

html,
body {
	height: 100%;
}

body {
	background-color: #8CBC82;
	background-image:
		linear-gradient(217deg, #1D7874, #1D787400 70.71%),
		linear-gradient(127deg, #8CBC82, #8CBC8200 70.71%),
		linear-gradient(336deg, #084C61, #084C6100 70.71%),
	;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	font-family: vars.$font-ss;
	font-size: vars.$font-size-ss;
	tab-size: 4;
}

a {
	color: vars.$color-link;

	&:hover {
		text-decoration: none;
	}

	&:visited {
		color: lightgray;
	}
}

iframe {
	border: 0;
}

input,
textarea,
div.code {
	background-color: rgba(0, 0, 0, 0.3);
	border: 0;
	box-sizing: border-box;
	color: #f0f0f0;
	font-family: vars.$font-ms;
	font-size: vars.$font-size-ms;
	outline: none;
	padding: 4px;
}

a#github {
	background-color: vars.$color-primary;
	background-image: url("../img/GitHub-Mark-Light-32px.png");
	background-position: 8px center;
	background-repeat: no-repeat;
	background-size: 16px;
	border-radius: vars.$button-radius;
	border: 0;
	color: #f0f0f0;
	display: inline-block;
	font-family: vars.$font-ms;
	font-size: 14px;
	line-height: 17px;
	margin-left: 20px;
	padding-left: 30px !important;
	padding: 6px 18px;
	text-align: center;
	text-decoration: none;

	&:hover {
		background-color: color.scale( vars.$color-primary, $lightness: -20% );
		cursor: pointer;
	}
}

.dropdown.language {
	margin-left: 10px;
	max-width: 110px;
}


select {
	background-color: vars.$color-primary;
	border: 0;
	border-radius: vars.$button-radius;
	color: #f0f0f0;
	font-family: vars.$font-ms;
	font-size: 14px;
	max-width: 300px;
	padding: 5px 6px;

	&:hover {
		background-color: color.scale( vars.$color-primary, $lightness: -20% );
		cursor: pointer;
	}
}

table {
	border-spacing: 0;

	td,
	th {
		text-align: left;
		vertical-align: top;
	}

	th {
		font-weight: 600;
	}
}


#main-header {
	button {
		min-width: 60px;
	}
}


.layout {
	box-sizing: border-box;
	display: flex;
	height: 100%;

	& > .view {
		flex-grow: 1;
	}

	& > .meta {
		box-sizing: border-box;
		font-family: vars.$font-ms;
		font-size: 14px;
		flex-grow: 0;
		flex-shrink: 0;
		margin-right: 10px;
		max-height: calc( 100vh - 140px );
		max-width: 360px;
		min-width: 220px;
		overflow: auto;
		padding: 10px 10px 0;

		tr.item {
			display: flex;
			flex-direction: column;
			margin-bottom: 7px;

			&:last-child {
				margin-bottom: 0;
			}

			&[hidden] {
				display: none;
			}
		}

		td,
		th {
			font-weight: normal;
			vertical-align: top;
			white-space: pre-wrap;
			word-break: break-all;
		}

		th.name {
			color: #c0c0c0;
			white-space: pre;
		}

		.meta-table {
			width: 100%;

			& > tr:last-of-type > td,
			& > tr:last-of-type > th {
				padding-bottom: 0;
			}
		}

		.hr td {
			border-top: 1px solid rgba(255, 255, 255, 0.2);
			padding-bottom: 6px;
		}

		.group-table {
			background-color: rgba(0, 0, 0, 0.3);
			border-bottom-left-radius: vars.$button-radius;
			border-bottom-right-radius: vars.$button-radius;
			margin: 5px 0;
			padding: 10px 10px 5px;
			width: 100%;

			caption {
				background-color: vars.$color-primary-dark;
				border-top-left-radius: vars.$button-radius;
				border-top-right-radius: vars.$button-radius;
				caption-side: top;
				padding: 2px 10px;
				text-align: left;
			}
		}

		.option {
			margin-bottom: 10px;
		}

		.option-toggle-empty label {
			padding-left: 7px;
		}
	}
}


main {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	margin: 0 auto;
	width: 100%;

	.build {
		border: 0;
		bottom: 10px;
		color: #ffffff50;
		font-family: vars.$font-ms;
		font-size: 11px;
		right: 10px;
		position: absolute;
		text-align: right;
		text-decoration: none;
		user-select: none;
		z-index: 1;

		&:hover {
			text-decoration: underline;
		}
	}

	.viewer {
		display: flex;
		flex-grow: 1;
		justify-content: center;

		.note-dragdrop {
			color: #ffffff;
			font-size: 32px;
			height: fit-content;
			position: relative;
			text-align: center;
			text-transform: uppercase;
			top: 40%;
			user-select: none;

			h1 {
				font-size: 54px;
				font-weight: bold;
				text-shadow: 0 2px 0 #0000003f;
			}
		}
	}
}
