$button-radius: 6px;
$color-body: #313046;
$color-link: #CC497A;
$color-primary: #842f4f;
$color-primary-dark: #68253F;
$font-size-ss: 16px;
$font-size-ms: 16px;
$font-ss: "Open Sans", Arial, sans-serif;
$font-ms: "DejaVu Sans Mono", monospace;
$max-width: 900px;
