$bg-alpha-tiles: repeating-conic-gradient(
	rgba(0, 0, 0, 0.1) 0% 25%,
	rgba(255, 255, 255, 0.1) 0% 50%
);
$border-radius: 9px;
$button-radius: 6px;
$color-link: #8CBC82;
$color-primary: #1D7874;
$color-primary-dark: #084C61;
$color-window: #0b2d33;
$font-size-ss: 16px;
$font-size-ms: 15px;
$font-ss: "Open Sans", Arial, sans-serif;
$font-ms: "Roboto Mono", monospace;
$max-width: 900px;
