.view {
	width: 100%;
}

	.view .note {
		color: #f0f0f0;
		font-size: 32px;
		max-width: var(--max-width);
		text-align: center;
	}


.view-base,
.view-audio,
.view-csv,
.view-dicom,
.view-eml,
.view-gif,
.view-ical,
.view-image,
.view-pdf,
.view-text,
.view-vcf,
.view-video,
.view-zip {
	display: flex;
	justify-content: center;
}


.view-base {
	align-items: center;
}


.view-audio {
	align-items: center;
}

	.view-audio audio {
		flex-grow: 0;
		flex-shrink: 0;
		max-width: 100%;
		width: var(--max-width);
	}


.view-csv {}

	.view-csv table {
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: var(--button-radius);
		color: #f0f0f0;
		font-family: var(--font-ms);
		margin: 40px 0;
		max-width: var(--max-width);
		padding: 10px 20px;
		white-space: pre-wrap;
		width: 100%;
	}

		.view-csv td {
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			padding: 4px 10px;
		}

		.view-csv th {
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			padding: 4px 10px;
		}

			.view-csv table span:hover {
				background-color: rgba(255, 255, 255, 0.1);
			}

		.view-csv tr:last-child td {
			border-bottom: 0;
		}


.view-dicom {
	align-self: center;
	flex-direction: column;
	max-width: 1000px;
}

	.view-dicom .image-container {
		height: 900px;
	}

	.view-dicom .actions {
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: var(--button-radius);
		font-family: var(--font-ms);
		margin-top: 10px;
		min-width: 300px;
		padding: 10px;
	}

		.view-dicom input[type="range"] {
			width: 100%;
		}

		.view-dicom .line {
			align-items: center;
			display: flex;
			justify-content: center;
		}

		.view-dicom button {
			min-width: 50px;
		}

			.view-dicom .wrap-playback {
				border-left: 1px solid rgba(255, 255, 255, 0.3);
				margin-left: 10px;
				padding-left: 10px;
			}

			.view-dicom select.speed {
				height: 29px;
			}

				.view-dicom .counter {
					color: #f0f0f0;
					display: inline-block;
					min-width: 80px;
					text-align: center;
				}

	.view-dicom .dicomdir-list {
		background-color: rgba(0, 0, 0, 0.3);
		box-sizing: border-box;
		color: #f0f0f0;
		font-family: var(--font-ms);
		height: 100vh;
		max-width: var(--max-width);
		overflow: auto;
		padding: 20px 10px;
		width: 100%;
	}

		.view-dicom .dicomdir-list ol {
			line-height: 22px;
			list-style-position: inside;
			list-style-type: decimal-leading-zero;
		}


.view-eml {
	align-items: center;
	flex-direction: column;
}

	.view-eml .button-group {
		background-color: rgba(0, 0, 0, 0.3);
		box-sizing: border-box;
		height: 10vh;
		max-width: var(--max-width);
		padding: 20px;
		width: 100%;
	}

	.view-eml iframe {
		height: 90vh;
		max-width: var(--max-width);
		width: 100%;
	}

	.view-eml .eml-type-plaintext {
		background-color: #d0d0d0;
		height: calc( 90vh - 40px );
		max-width: calc( var(--max-width) - 40px );
		padding: 20px;
		width: calc( 100% - 40px );
	}

	.view-eml .headers {
		background-color: rgba(0, 0, 0, 0.3);
		color: #f0f0f0;
		height: 90vh;
		max-width: var(--max-width);
		overflow: auto;
		width: 100%;
	}

		.view-eml .headers table {
			font-family: var(--font-ms);
			font-size: var(--font-size-ms);
			width: 100%;
		}

			.view-eml tr:nth-child( 2n + 1 ) {
				background-color: rgba(255, 255, 255, 0.05);
			}

			.view-eml .headers td,
			.view-eml .headers th {
				line-height: 23px;
				word-break: break-word;
			}

			.view-eml .header-name {
				padding: 10px 10px 10px 20px;
				width: 30%;
			}

			.view-eml .header-value {
				padding: 10px 20px 10px 10px;
				white-space: pre-wrap;
			}


.view-gif {
	align-items: center;
	flex-direction: column;
}

	.view-gif .frame-container {
		background: repeating-conic-gradient(
			rgba(0, 0, 0, 0.1) 0% 25%,
			rgba(255, 255, 255, 0.1) 0% 50%
		);
		background-size: 20px 20px;
		display: flex;
	}

	.view-gif .actions {
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: var(--button-radius);
		font-family: var(--font-ms);
		margin-top: 20px;
		min-width: 300px;
		padding: 10px;
	}

		.view-gif input[type="range"] {
			width: 100%;
		}

		.view-gif .line {
			align-items: center;
			display: flex;
			justify-content: space-between;
		}

			.view-gif .counter {
				color: #f0f0f0;
				display: inline-block;
				min-width: 80px;
				text-align: center;
			}


.view-ical {
	align-items: center;
}

	.view-ical .ical {
		max-width: 600px;
		width: 100%;
	}

	.view-ical .container,
	.view-ical .valarm {
		background-color: rgba(0, 0, 0, 0.3);
		border-radius: var(--button-radius);
		box-sizing: border-box;
		color: #f0f0f0;
		margin: 10px;
		overflow: hidden;
		padding: 20px;
		width: 100%;
	}

	.view-ical .container::before,
	.view-ical .valarm::before {
		background-color: var(--color-primary);
		display: block;
		font-family: var(--font-ms);
		font-size: 12px;
		font-weight: bold;
		margin: -20px -20px 20px;
		padding: 5px;
	}

	.ical .valarm::before { content: 'ALARM'; }
	.ical .vevent::before { content: 'EVENT'; }
	.ical .vfreebusy::before { content: 'FREEBUSY'; }
	.ical .vjournal::before { content: 'JOURNAL'; }
	.ical .vtodo::before { content: 'TODO'; }

		.ical .summary {
			font-size: 24px;
			font-weight: bold;
			line-height: 24px;
			margin-bottom: 5px;
		}

			.ical .summary .state {
				font-weight: normal;
				line-height: normal;
				vertical-align: middle;
			}

		.ical table {
			margin-top: 10px;
			width: 100%;
		}

			.ical td,
			.ical th {
				background-clip: padding-box;
				border-bottom: 2px solid transparent;
				padding: 2px 10px;
			}

			.ical th {
				background-color: rgba(255, 255, 255, 0.05);
				font-weight: 600;
			}

			.ical td {
				background-color: rgba(0, 0, 0, 0.1);
				border-left: 2px solid transparent;
			}

		.ical ul {
			list-style: none;
		}

			.ical li {
				padding: 1px 0;
			}

				.ical .state {
					background-color: rgba(255, 255, 255, 0.1);
					border-radius: 9px;
					display: inline-block;
					font-family: var(--font-ms);
					font-size: 12px;
					margin-left: 10px;
					padding: 2px 8px;
				}

		.view-ical .valarms {
			margin-top: 20px;
		}

			.view-ical .valarm {
				background-color: rgba(255, 255, 255, 0.05);
				margin: 10px 0 0;
				padding: 10px;
			}

			.view-ical .valarm::before {
				margin: -10px -10px 10px;
			}


.view-image {
	align-items: center;
	overflow: auto;
}

	.view-image img {
		background: repeating-conic-gradient(
			rgba(0, 0, 0, 0.1) 0% 25%,
			rgba(255, 255, 255, 0.1) 0% 50%
		);
		background-size: 20px 20px;
		flex-grow: 0;
		flex-shrink: 0;
	}


.view-pdf {}

	.view-pdf iframe {
		height: 100vh;
		max-width: var(--max-width);
		width: 100%;
	}


.view-text {}

	.view-text textarea {
		resize: none;
		max-width: var(--max-width);
		width: 100%;
	}

	.view-text div.code {
		height: 100vh;
		line-height: 23px;
		max-width: var(--max-width);
		overflow: auto;
		padding: 20px;
		white-space: pre;
		width: 100%;
	}


.view-vcf {
	align-items: center;
}

	.view-vcf .container {
		max-width: 600px;
		width: 100%;
	}

		.view-vcf .vcard {
			background-color: rgba(0, 0, 0, 0.3);
			border-radius: var(--button-radius);
			box-sizing: border-box;
			color: #f0f0f0;
			margin: 10px;
			overflow: hidden;
			padding: 20px;
			width: 100%;
		}

		.vcard table {
			margin-top: 10px;
			width: 100%;
		}

			.vcard td,
			.vcard th {
				background-clip: padding-box;
				border-bottom: 2px solid transparent;
				padding: 2px 10px;
			}

			.vcard th {
				background-color: rgba(255, 255, 255, 0.05);
				font-weight: 600;
				white-space: nowrap;
			}

			.vcard td {
				background-color: rgba(0, 0, 0, 0.1);
				border-left: 2px solid transparent;
			}


.view-video {
	align-items: center;
}

	.view-video video {
		background: repeating-conic-gradient(
			rgba(0, 0, 0, 0.1) 0% 25%,
			rgba(255, 255, 255, 0.1) 0% 50%
		);
		background-size: 20px 20px;
		flex-grow: 0;
		flex-shrink: 0;
		max-height: 100%;
		max-width: 100%;
		min-width: 300px;
	}


.view-zip {
	align-items: center;
}

	.view-zip .wrap {
		background-color: rgba(0, 0, 0, 0.3);
		box-sizing: border-box;
		color: #f0f0f0;
		font-family: var(--font-ms);
		height: 100vh;
		max-width: var(--max-width);
		overflow: auto;
		padding: 20px 10px;
		width: 100%;
	}

		.view-zip table.zip {
			width: 100%;
		}

			.zip tr.head {
				display: none;
			}

				.zip tr.head th {
					border-bottom: 2px solid #505050;
					padding-bottom: 5px;
				}

			.zip tr:hover {
				background-color: rgba(255, 255, 255, 0.1);
			}

			.zip td {
				padding: 5px 10px;
			}

				.zip-dir .name {
					font-weight: 600;
				}

					.zip .name .indent {
						font-weight: normal;
						opacity: 0.1;
					}

					.zip-dir .name .text:before {
						content: "📂";
						display: inline-block;
						margin-right: 10px;
					}

					.zip-file .name .text:before {
						content: "📄";
						display: inline-block;
						margin-right: 10px;
					}

				.zip .size {
					padding-left: 20px;
					padding-right: 20px;
					text-align: right;
				}

				.zip td.size,
				.zip td.date {
					opacity: 0.7;
					white-space: nowrap;
				}
